<div id="top">
  <div>The year is {{ year$ | async }}</div>
  <button (click)="onAdvanceYear()">Advance Year</button>
</div>
<div id="cols">
  <app-people display="All People"></app-people>
  <app-people display="All Adults" personType="adults"></app-people>
  <app-people display="All Children" personType="children"></app-people>
  <app-people
    [display]="'The ' + fam + ' Family'"
    [familyName]="fam"
    personType="family"
    *ngFor="let fam of families$ | async"
  ></app-people>
</div>
<div id="note">
  Note: No actual people died in the making of this demo. All lives have been
  simulated.
</div>
