<div id="top">
  <button (click)="onAdvanceYear()">Advance Year</button>
</div>
<div id="cols">
  <app-people display="All People"></app-people>
  <app-people display="All Adults" personType="adults"></app-people>
  <app-people display="All Children" personType="children"></app-people>
  <app-people
    display="The Smith Family"
    familyName="Smith"
    personType="family"
  ></app-people>
  <app-people
    display="The Jones Family"
    familyName="Jones"
    personType="family"
  ></app-people>
</div>
